body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(98, 90, 167);
}

.image{
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form-box {
    width: 90;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px, 60px, 70px;
    text-align: center;
  }
  
  .form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: black;
    position: relative;
  }
  
.link-to_logpage{
  background-color: rgb(87, 116, 219);
  color: white;
  width: 120px;
  height: 30px;
  margin: 5px;
  margin-bottom: 1em;
  background-position: center;
  position: absolute;
  border-radius: 20%;
  top: 50%;
  left: 45%;
  transform: translate(-30%, -90%);
  
}

.link-to_signpage{
    background-color: rgb(87, 116, 219);
    color:white;
    width: 120px;
    height: 30px;
    margin: 5px;
    margin-bottom: 1em;
    background-position: center;
    position: absolute;
    border-radius: 20%;
    top: 50%;
    left: 52%;
    transform: translate(-30%, -90%);
}

.create-account{
    width: 240px;
    height: 30px;
    background-color: rgb(131, 96, 226);
    background-position: center;
}

.speech2{
  color: aliceblue;
  margin: 0;
  background-position: center;
  font-size: 20px;
  text-align: center;
  top: 60%;
  left: 20%;
  transform: translate(-2%, 90%);

}
.seccontainer{
  width: 300px;
  height: 150px;
  background-color: black;
  top: 50%;
  background-position: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;


}

.link-to_logpage:hover {
    background-color: rgb(89, 54, 185);
  }

.link-to_signpage:hover {
    background-color: rgb(89, 54, 185);
  }



